---
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import CompactTimeline from '~/components/ui/CompactTimeline.astro';
import Headline from '~/components/ui/Headline.astro';
import type { Steps as Props } from '~/types';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline = await Astro.slots.render('tagline'),
  items = [],

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-7xl ${classes?.container ?? ''}`} bg={bg}>
  <div class="flex flex-col gap-4">
    <Headline
      title={title}
      subtitle={subtitle}
      tagline={tagline}
      classes={{
        container: 'text-left rtl:text-right max-w-3xl',
        title: 'text-3xl lg:text-4xl',
        ...((classes?.headline as object) ?? {}),
      }}
    />
    <CompactTimeline items={items} classes={classes?.items as Record<string, never>} />
  </div>
</WidgetWrapper>