---
import Layout from '~/layouts/PageLayout.astro';
import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import HomePageImage from '~/assets/images/richardbergsma.png'
import MicrosoftAssociate from '~/assets/images/microsoft-certified-associate-badge.webp'
import NexthinkAssociate from '~/assets/images/NexthinkAssociate.webp'
import NexthinkAdministrator from '~/assets/images/NexthinkAdministrator.webp'
import pcep from '~/assets/images/PCEP.webp'
import MicrosoftFundamentals from '~/assets/images/microsoft-certified-fundamentals-badge.webp'
import NexthinkAppExp from '~/assets/images/CertifiedNexthinkProfessionalinApplicationExperienceManagement.webp'

import { getTranslation, supportedLanguages } from '~/i18n/translations';

export async function getStaticPaths() {
  return supportedLanguages.map(lang => ({
    params: { lang },
  }));
}

const { lang } = Astro.params;
if (!supportedLanguages.includes(lang)) {
  return Astro.redirect('/en/');
}

const t = getTranslation(lang);

const metadata = {
  title: t.metadata.title,
};

---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: t.navigation.home, href: '#hero' },
        { text: t.navigation.about, href: '#about' },
        { text: t.navigation.resume, href: '#resume' },
        { text: t.navigation.certifications, href: '#certifications' },
        { text: t.navigation.skills, href: '#skills' },
        { text: t.navigation.blog, href: '#blog' },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <script>
    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
      anchor.addEventListener('click', function (e) {
        e.preventDefault();

        const targetId = this.getAttribute('href').substring(1);
        const targetElement = document.getElementById(targetId);

        if (targetElement) {
          window.scrollTo({
            top: targetElement.offsetTop - 50,
            behavior: 'smooth'
          });
        }
      });
    });
  </script>

  <!-- Hero Widget -->
  <Hero
    id="hero"
    title={t.hero.title}
  >
    <Fragment slot="subtitle">
      <strong class="text-3xl md:text-4xl">{t.hero.greeting}</strong><br /><br />{t.hero.subtitle}
    </Fragment>
  </Hero>

  <!-- Content Widget -->
  <Content
    id="about"
    columns={2}
    items={[]}
    image={{
      src: HomePageImage,
      alt: 'Richard Bergsma smiling in the mountains of Switzerland holding Revella',
      loading: 'lazy',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-3xl font-bold tracking-tight dark:text-white sm:text-4xl mb-2">{t.about.title}</h2>
      {t.about.content.map((paragraph) => (
        <p>{paragraph}</p>
        <br />
      ))}
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget -->
  <Steps
    id="resume"
    title={t.resume.title}
    items={t.resume.experience.map(exp => ({
      title: `${exp.title}<br /> <span class="font-normal">${exp.company} - ${exp.location}</span> <br /> <span class="text-sm font-normal">${exp.period}</span>`,
      description: exp.description,
      icon: 'tabler:automation',
    }))}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget -->
  <Steps
    id="education"
    title={t.education.title}
    items={t.education.items.map(item => ({
      title: item.title,
      icon: 'tabler:school'
    }))}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Testimonials Widget -->
  <Testimonials
    id="certifications"
    title={t.certifications.title}
    subtitle={t.certifications.subtitle}
    testimonials={t.certifications.items.map((cert, index) => ({
      name: cert.name,
      issueDate: cert.issueDate,
      description: cert.description,
      linkUrl: cert.linkUrl,
      image: {
        src: [
          NexthinkAppExp,
          NexthinkAdministrator,
          NexthinkAssociate,
          pcep,
          MicrosoftAssociate,
          MicrosoftFundamentals,
          MicrosoftAssociate,
          MicrosoftFundamentals,
        ][index],
        alt: cert.image.alt,
        loading: 'lazy',
      },
    }))}
  />

  <!-- Features3 Widget -->
  <Features3
    id="skills"
    title={t.skills.title}
    subtitle={t.skills.subtitle}
    columns={3}
    defaultIcon="tabler:point-filled"
    items={t.skills.items.map(item => ({
      title: item.title,
      description: item.description,
    }))}
  />

  <!-- BlogLatestPost Widget -->
  <BlogLatestPosts
    id="blog"
    title={t.blog.title}
    information={t.blog.information}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>